<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sequelize Demo</title>
  </head>
  <body>
    <h1>여기는 메인</h1>
    <ul>
      <li><a href="/getCustomers">전체 고객 조회</a></li>
      <li><a href="/getOrderlists">전체 상품 조회</a></li>
      <li><b>Customer Table과 Orderlist Table JOIN</b></li>
      <ul>
        <li><a href="/getTotal">Sequelize include 사용 확인</a></li>
        <li><a href="/getSql">Raw query (sql) 직접 사용</a></li>
      </ul>
    </ul>
  </body>
</html>
